---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">We are a here to help.</Fragment>
    </Sectionhead>
    <div class="flex flex-col md:flex-row gap-10 mx-auto max-w-4xl mt-16">
      <div class="flex-1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.667255579418!2d110.36529307455459!3d-7.824998677718522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5926b951619f%3A0x1e5e08ffddad21c6!2sLife%20Media!5e0!3m2!1sid!2sid!4v1736183515909!5m2!1sid!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="flex-1 mt-16 md:pl-4 md:pr-4">
        <h2 class="font-medium text-2xl text-gray-800">Contact Astroship</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Jl. Parangtritis 97, RT 57 RW 15, Brontokusuman, Mergangsan, DI Yogyakarta 55153</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@astroshipstarter.com"
              >eksan@jnusantara.co.id</a
            > 
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><span>+62 123 456 789</span>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
