---
import { Picture } from "astro:assets";
import heroImage from "assets/hero2.png";
import Link from "@components/ui/link.astro";
---

<main class="bg-textJudul text-white">
  <div
    class="grid lg:grid-cols-2 place-items-center pt-8 md:pt-0 max-w-7xl mx-auto px-3 animate-fade-in">
    <div class="w-full md:order-1">
      <Picture
        src={heroImage}
        alt="orang"
        widths={[1400, 1800, 2200]}
        sizes="(max-width: 2200px) 100vw, 2200px"
        loading="eager"
        format="avif"
        class="hidden md:block lg:block w-full h-auto object-cover md:scale-100"
      />
      <Picture
        src={heroImage}
        alt="orang"
        widths={[500, 600, 700]}
        sizes="(max-width: 700px) 100vw, 700px"
        loading="eager"
        format="avif"
        class="block md:hidden lg:hidden w-full h-auto object-cover mb-6 scale-100"
      />
    </div>

    <div class="text-center md:text-left">
      <h1
        class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
        WELCOME TO
      </h1>
      <div>
        <h1
          class="text-3xl sm:text-4xl md:text-5xl lg:text-4xl font-bold tracking-wide mt-4">
          PT. JARING DATA NUSANTARA
        </h1>
      </div>
      <p class="text-lg mt-4 max-w-l mx-auto md:mx-0 typing-animation">
        "Connected Business, Smart Solution. CLEON by JDN - Your Digital
        Partner."
      </p>
      <div
        class="mt-6 flex flex-col sm:flex-row gap-3 justify-center md:justify-start">
        <Link
          style="muted"
          href="/contact"
          target="_self"
          class="flex gap-1 text-textJudul items-center justify-center hover:scale-105 transition-transform duration-300"
          rel="noopener">
          <svg
            class="w-6 h-6"
            fill="FFFFFF"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
              fill="#3D5A80"></path>
            <path
              d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
              fill="#3D5A80"></path>
          </svg>
          Work Inquiry from JDN
        </Link>
      </div>
    </div>
  </div>
</main>
<!-- 
<style>
  .typing-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid orange;
    font-size: 1.125rem;
    animation:
      typing 5s steps(80, end),
      blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  .animate-fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .hover\:scale-105:hover {
    transform: scale(1.05);
  }

  .transition-transform {
    transition: transform 0.3s;
  }

  .duration-300 {
    transition-duration: 300ms;
  }
</style> -->
