---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main class="bg-textJudul mb-5 text-white">
  <div
    class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 max-w-screen-xl mx-auto px-5">
    <div class="py-6 md:order-1 hidden md:block">
      <Picture
        src={heroImage}
        alt="Astronaut in the air"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
    <div>
      <h1
        class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
        WELCOME TO
      </h1>
      <div>
        <h1
          class="text-3xl sm:text-4xl md:text-5xl lg:text-4xl font-bold tracking-wide mt-4">
          PT. JARING DATA NUSANTARA
        </h1>
        <!-- <h1
        class="text-4xl sm:text-5xl md:text-6xl lg:text-4xl font-bold tracking-wide mt-2">
      </h1> -->
      </div>
      <!-- <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Astroship is a starter template for startups, marketing websites & landing
      pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly create
      any website with this starter.
    </p> -->
      <p class="text-lg mt-4 max-w-xl">
        "Connected Business, Smart Solution. CLEON by JDN - Your Digital
        Partner."
      </p>
      <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <Link
          href="/about"
          target="_self"
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          <!-- <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" /> -->
          <svg
            class="w-6 h-6"
            fill="FFFFFF"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
              fill="white"></path>
            <path
              d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
              fill="white"></path>
          </svg>

          Work Inquiry from JDN
        </Link>
        <!-- <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </Link> -->
      </div>
    </div>
  </div>
</main>
